* {
    margin: 0;
    padding: 0;
}
            
body {
    font-family: 'Abel', sans-serif;
    overflow-x: hidden;
}

nav #logo{
    display: block;
    position: absolute;
    left: 55px;
    width: 135px;
    height: 135px;
    top: 50px;
    background: url("../images/rsz_peotebutton.png"); alt="" height="135" width="135";
}

            
nav {
    position: fixed;
    z-index: 1000;
    top: 0;
    bottom: 0;
    width: 250px;
    background-color: #000;
    transform: translate3d(-250px, 0, 0);
    transition: transform 0.4s ease;
}

.active-nav nav {
    transform: translate3d(0, 0, 0);
}
            
nav ul {
    list-style: none;
    margin-top: 200px;
}
            
nav ul li a {
    font-family: 'Abel', sans-serif;
    padding-top: 200px;
    text-decoration: none;
    display: block;
    text-align: center;
    color: #FFF;
    padding: 10px 0;
}

nav ul li a:hover { 
    color: gray; 
    z-index: 2;
    -webkit-transform: scale(1.1);
    transform:scale(1.1);
    } 
            
.nav-toggle-btn {
    background: url("../images/rsz_triangle2.png");
    display: block;
    position: absolute;
    left: 280px;
    width: 75px;
    height: 75px;
}
            

@font-face {
    font-family: 'si';
    src: url('../socialicons/socicon.eot');
    src: url('../socialicons/socicon.eot?#iefix') format('embedded-opentype'),
         url('../socialicons/socicon.woff') format('woff'),
         url('../socialicons/socicon.ttf') format('truetype'),
         url('../socialicons/socicon.svg#icomoonregular') format('svg');
    font-weight: normal;
    font-style: normal;
 
}
 
@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family:si;
        src: url("../socialicons/socicon.svg") format(svg);
    }
}

.soc {
    overflow:hidden;
    margin:0; padding:0;
    list-style:none;
    padding-top: 180px;
    padding-left: 30px;
}

.soc li {
    display:inline-block;
    *display:inline;
    zoom:1;
}

.soc li a {
    font-family:si!important;
    font-style:normal;
    font-weight:400;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;

    -o-transition:.1s;
    -ms-transition:.1s;
    -moz-transition:.1s;
    -webkit-transition:.1s;
    transition:.1s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);

    overflow:hidden;
    text-decoration:none;
    text-align:center;
    display:block;
    position: relative;
    z-index: 1;
    width: 24px;
    height: 24px;
    line-height: 5px;
    font-size: 13px;
    -webkit-border-radius: 71px;
    -moz-border-radius: 71px;
    border-radius: 71px;
    margin-right: 4px;
    color: #000000;
    background-color: #ffffff;
}

.soc a:hover {
    z-index: 2;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.soc-icon-last{
    margin:0 !important;
}

.soc-facebook:before {
    content:'b';
}
.soc-soundcloud:before {
    content:'n';
}
.soc-apple:before {
    content:'O';
}
.soc-twitter:before {
    content:'a';
}
.soc-youtube:before {
    content:'r';
}
.soc-instagram:before {
    content:'x';
}


#container {
    position:relative;
    min-height: 100%;
    transition: transform 0.4s ease;
}

    
.active-nav #container {
    transform: translate3d(100px, 0, 0);
}

#tubular{
 overflow: hidden;
 position: fixed;
 z-index: 1;
 width: 100%;
 height: 100%;
}
            
